.connecting-panel {
    padding-top: 20vh;
}

.software-logo {
    height: 140px;
    width: auto;
}
.headline {
    height: 28px;
    color: #2E4052;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.subheading {
    width: 40%;
    margin: auto;
    height: 57px;
    color: #2E4052;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}