.softwares {
    padding: 0px 30%;
}

.logo-card {
    cursor: pointer;}
.logo-card.qb-logo {
    padding: 15px 20px;}
.logo-card.freshbook-logo {
    padding: 20px 30px;}
.logo-card.xero-logo {
    padding: 15px 40px;}
.logo-card.wave-logo {
    padding: 30px 30px;}
    .logo-card img.software-logo-img {
        width: 100%;}
